{
  "name": "{{ project }}",
  "version": "0.1.0",
  "description": "{{program.capitalize()}} for the {{ problem }} problem.",
  "main": "{{ program }}.mjs",
  "type": "module",
  "author": "{{ team }}",
  "license": "ISC"
}
