{
  "name": "{{ project }}",
  "version": "0.0.1",
  "description": "{{program.capitalize()}} for the {{ problem }} problem.",
  "main": "{{ program }}.js",
  "author": "{{ team }}",
  "license": "ISC"
}
