[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ project }}"
version = "0.1.0"
description = "{{program.capitalize()}} for the {{ problem }} problem."
requires-python = ">=3.11"
authors = [{name = "{{ team }}"}]

dependencies = [
    # list your dependencies here
]
